/*Cores*/
:root {
    --primaryColor: #00AFD1;
    --SecordColor: #0065E3;
}

/*Fontes*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
button {
    font-family: Infra, sans-serif;
}

@font-face {
    font-family: "Infra";
    src: url("../font/InfraRegular.otf") format("woff2"),
        url("../font/InfraRegular.otf") format("woff");
        font-display: swap
}

p {
    font-size: 12.8px;
    line-height: 24px;
}


/*Reset*/
* {
    width: auto;
    padding: 0px;
    margin: 0px;
    overflow-x: clip;
    overflow-x: -moz-hidden-unscrollable;
    box-sizing: border-box;
}

/*Header*/
header {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
}

h1.h1-logo {
    width: calc(100px + 5vw);
    height: max-content;
    max-width: 196px;
}

h1.h1-logo span {
    display: block;
    text-indent: 110%;
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
}

h1.h1-logo img {
    width: 100%;
}

button.btn {
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: var(--SecordColor);
    width: 100%;
    height: 50px;
    color: white;
    max-width: 354px;
    transition: 0.15s ease-out;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -ms-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    cursor: pointer;
}

button.btn:hover {
    background-color: var(--primaryColor);
}

button.btn-login {
    width: calc(100px + 12vw);
    height: 40px;
    background-color: var(--primaryColor);
    color: white;
    font-size: 16px;
    line-height: 36px;
}

header a {
    width: auto;
    height: 50px;
    max-width: 354px;
    margin-top: 0px;
}

a {
    width: 100%;
    height: 50px;
    max-width: 354px;
}

/*Footer*/


footer {
    margin-top: 100px;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    padding: 40px 20px 80px;
    background: #FAFBFB;
}

img {
    width: 200px;
    height: auto;
}

span.line-footer {
    width: 90%;
    height: 2px;
    margin: 20px 10px;
    background: black;
}

div.container-LGDP {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: rgba(38, 38, 38, 0.6);
}

.container-LGDP img {
    width: 150px;
    height: auto;
    margin-top: 15px;
}


@media screen and (min-width:700px) {

    /*Header*/
    header {
        justify-content: space-around;
    }

    h1.h1-logo {
        margin-left: 35%;
    }

    button.btn-login {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
        background: transparent;
        transition: 0.15s ease-out;
        -webkit-transition: 0.15s ease-out;
        -moz-transition: 0.15s ease-out;
        -ms-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        cursor: pointer;
    }

    button.btn-login:hover {
        background-color: var(--primaryColor);
        color: white;
    }

    /*Footer*/

    div.container-info{
        width: 80%;
        max-width: 600px;
    }

    div.container-LGDP {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        text-align: center;
        color: rgba(38, 38, 38, 0.6);
    }

    .container-LGDP p {
        grid-area: 1 / 3 span;
    }
}

@media screen and (min-width:1200px) {

    /*Footer*/
    footer {
        grid-template-columns: 20% 50px 1fr;
        grid-template-rows: auto;
        padding: 50px 10vw;
        align-items: center;
    }

    span.line-footer {
        width: 3px;
        height: 90%;
    }

    div.container-LGDP {
        justify-items: start;
        text-align: start;
        grid-template-columns: 20% 20% 20% 40%;
    }

    div.container-LGDP p {
        grid-area: 1 / 4 span;
    }

    div.container-LGDP img {

        width: 100px;
    }

}
}